include CMakeLists.txt build.sh LICENSE MANIFEST.in
include README.md requirements.txt pepper/modules/htslib.cmake pepper/modules/pybind11.cmake
recursive-include img/ *
recursive-include docker/ *
recursive-include pepper/ *
recursive-include pepper/modules/headers *
recursive-include pepper/modules/src *